@page
@using RazorPagesCase.Models
@model Transfer.Pages.CaseModel
@{
    ViewData["Title"]="Pending Transfer Approval";
}

<h1>Case List</h1>
<form method="post" class="card p-3">
    <div class="row">
        <div asp-validation-summary="All"></div>
    </div>
    <div class="form-group mb-0 align middle">
        <label asp-for="NewSR.number">Case</label>
        <input type="text" asp-for="NewSR.number" class="mr-5">

        <label asp-for="NewSR.IsFQRdone" >FQR</label>
        <select asp-for="NewSR.POD" asp-items="Html.GetEnumSelectList<IsFQRdone>()" class="mr-5"></select>
        

        <label asp-for="NewSR.Issue">Issue</label>
        <input type="text" asp-for="NewSR.Issue" class="mr-5">
        
        <label asp-for="NewSR.POD">POD</label>
        <select asp-for="NewSR.POD" asp-items="Html.GetEnumSelectList<POD>()" class="mr-5"></select>
        
        <label asp-for="NewSR.Age"></label>
        <input type="text" asp-for="NewSR.Age" class="mr-5" size="4">

        <label asp-for="NewSR.IsSMEReviewed">SME/TL Review</label>
        <input type="text" asp-for="NewSR.IsSMEReviewed" class="mr-5", size="4">

        <button class="btn btn-primary">Add</button>
    </div>
</form>
<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Case</th>
            <th scope="col">FQR</th>
            <th scope="col">Issue</th>
            <th scope="col">POD</th>
            <th scope="col">Case Age</th>
            <th scope="col">SME Review</th>
        </tr>
    </thead>
    @foreach (var sr in Model.SRs)
    {
        <tr>
            <td>@sr.number</td>
            <td>@sr.IsFQRdone</td>
            <td>@sr.Issue</td>
            <td>@sr.POD</td> 
            <td>@sr.Age</td>                       
            <td>@Model.IsSMEed(sr)</td>
            <td>
                <form method="post" asp-page-handler="Delete" asp-route-id="@sr.Id">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr> 
    }
 
  
</table>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
